body {
    font-family: Arial, sans-serif;
}
table {
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
    text-align: center;
}

th, td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
    text-align: center;
}
a {
    text-decoration: none;
}
/* Style the navigation bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}
  
li {
  float: left;
}
  
li a { 
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
  
li a:hover {
  background-color: #111;
}
  
.active {
  background-color: #4CAF50;
}
.redactive:hover{
  background-color: red;
}
/*admin.css not show so i make new one */
h2.alert {
    font-size: 60px;
    text-align: center;
    color: #333; 
}
  
a.backtopage {
    text-decoration: none;
    background-color: #4caf50; 
    color: white; 
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    margin: 10px auto; 
    text-align: center;
}
form {
    max-width: 500px;
    margin: auto;
}

.iptext {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

input[type="file"] {
    margin-bottom: 10px;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #4caf50;
    color: #ffffff;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #45a049;
} 
  
  