.thinking { 
	background: white url("../img/gifajax/checking.gif") no-repeat; 
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-position: 90% 50%;   
}

.approved { 
	background: white url("../img/gifajax/true.gif") no-repeat;   
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-position: 90% 50%;   
}

.denied { 
	background: pink url("../img/gifajax/false.gif") no-repeat; 
    width: 100%;
    padding: 10px;
    border: 3px solid red;
    border-radius: 5px;
    background-position: 90% 50%;
}

/* mobile */
/* @media(max-width: 430px) */
body {
    background-color: chocolate;
    margin: 1em;
    padding: 0;
}

h1 {
	text-align: center;
    color: #342214;
    font-size: 2em;
    margin: 1rem;
}

h3 {
    font-size: 1rem;
    color: black;
}

p {
    font-size: 1rem;
    margin-top: 0.9 rem;
    color: #342214;
}

hr {
    border: 1px solid #ddd;
    margin: 20px 0;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    font-size: 0.9rem; /* Adjust font size as needed */
    margin: 5px 0;
    color: #342214;
    text-align: left;
}

form {
    margin-bottom: 0px;
}

.form-container {
    background-color: #f9f5e3;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
    border-radius: 10px;
    margin: 9em auto;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 360px;
    display: block;
}

.form-group {
    margin-bottom: 20px;
	position: relative; 
}

.pass-group input {
    margin-bottom: 20px;
	width: 70%;
}

label {
    display: flex;
    margin-bottom: 5px;
    font-weight: bold;
    color: #342214;
}

.box {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#errormsg {
    padding-top: 10px;
    color: red;
    /* text-decoration: underline red 2px; */
}

.btn-container {
    text-align: right;
}
  
.btn {
	display: inline;
    background-color: saddlebrown;
    color: #fff;
	font-size: large;
    margin: 10px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #563c15;
}

/* p > a {
	margin-top: 10px;
    color: #000;
} */

a {
    color: #342214;
<<<<<<< HEAD:css/register.css
}
=======
    text-decoration: none;
}

/* a:hover {
    text-decoration: underline;
} */
>>>>>>> a9133ce2437f7e89b7d0efffa94fc092cfe2d4bc:css/style.css

.status {
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
    color: #fff;
    margin-left: 10px;
}

footer {
    position: fixed; bottom: 0px; width:100%;
    text-align: left;
    background-color: #f8f8f8;
    padding: 20px 10px;   
}

#togglePassword, #toggleCPassword {
    background-color: saddlebrown;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
    padding: 10px 10px;
}

#togglePassword:hover, #toggleCPassword:hover {
    background-color: #563c15;
}
.homeContent2 h1 { 
    color: whitesmoke;
    font-size: 5em;
    font-weight: bolder;
    text-shadow: 6px 6px  #342214;
}
/* ipad */
/* Media query for screens with 768-1024 */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    body {
        background-color: chocolate;
        margin: 1em;
    }
    .form-container {
        margin: auto;
        padding: 30px;
        max-width: 500px;
    }

    .form-group {
        margin: 20px;
        position: relative; 
    }
    
    .pass-group {
        margin: 20px;
        width: 70%;
    }

	form p {
		text-align: right;
		margin: 10px;
	}

    input {
        max-width: 500px;
    }
}

/* labtop */
/* Media query for screens with 1024px */
@media screen and (min-width: 1024px) {
    body {
        background-color: chocolate;
        margin: 2rem;
    }
	.btn {
		display: inline;
		background-color: saddlebrown;
		color: #fff;
		font-size: 2rem;
		padding: 10px 15px;
		border: none;
		border-radius: 5px;
		cursor: pointer;
        align-items: center;
        align-self: center;
	}

	form {
		font-size: 2rem;
	}

    p {
        font-size: 2rem;
    }
    
    input {
        max-width: 30rem;
        font-size: 1.5rem;
    }
    .form-container {
        background-color: #f9f5e3;
        margin: 20px auto;
        padding: 3rem;
        border-radius: 10px;
        border-radius: 10px;
        box-shadow: 2px 2px 5px rgba(215, 187, 187, 0.1);
        max-width: 40em;
}

h3{
    padding: 0;
}

/* ipad  */
@media(min-width: 768px) and (max-width: 1024px){
    .homeContent2 h1{
        font-size: 3em;
        margin-top: -0.4em;
    }
    .form-container{
        margin-top: 3.4em;
    }
    h3 a{
        padding: 3rem;
        float: right;
    }
   
}
