
.thinking { 
	background: white url("img/checking.gif") no-repeat; 
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-position: 90% 50%;   
}

.approved { 
	background: white url("img/true.gif") no-repeat;   
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-position: 90% 50%;   
}

.denied { 
	background: pink ("img/false.gif") no-repeat; 
    width: 100%;
    padding: 10px;
    border: 3px solid red;
    border-radius: 5px;
    background-position: 90% 50%;   
}

body {
    background-color: #f9f5e3;
    font-family: Arial, sans-serif;
}

h1 {
	text-align: center;
	font-size: xx-large;
    color: #f9f5e3;
}

.form-container {
    background-color: chocolate;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.form-group {
    margin-bottom: 20px;
	position: relative; 
}

.pass-group input {
    margin-bottom: 20px;
	width: 70%;
}
label {
    display: flex;
    margin-bottom: 5px;
    font-weight: bold;
    color: #fff;
}

.box {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn {
	display: inline;
    background-color: saddlebrown;
    color: #fff;
	font-size: large;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
	float: right;
}

.btn:hover {
    background-color: #563c15;
    font-size: large;
}

form p {
	text-align: center;
	margin-top: 50px;
}
p > a {
	margin-top: 10px;

}
a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.status {
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
    color: #fff;
    margin-left: 10px;
}

#togglePassword, #toggleCPassword {
    background-color: saddlebrown;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
    padding: 10px 10px;
}

#togglePassword:hover, #toggleCPassword:hover {
    background-color: #563c15;
}




/* Media query for screens with 400px */
@media screen and (min-width: 400px) and (max-width: 820px) {
    .form-container {
        max-width: 100%;
        margin: auto;
    }
	.btn {
		display: inline;
		background-color: saddlebrown;
		color: #fff;
		font-size: large;
		padding: 10px 15px;
		border: none;
		border-radius: 5px;
		cursor: pointer;
		float: unset;
	}
	form p {
		text-align: left;
		margin-top: 10px;
	}
}

/* Media query for screens with 821px */
@media screen and (min-width: 821px) {
    .form-container {
        max-height: 90%;
        margin: 30px;
    }
	.btn {
		display: inline;
		background-color: saddlebrown;
		color: #fff;
		font-size: large;
		padding: 10px 15px;
		border: none;
		border-radius: 5px;
		cursor: pointer;
        float: unset;
	}
	form p {
		text-align: left;
		margin-top: 10px;
	}
    input {
        max-width: 500px;
    }
}
